
    <div class="mb-4 bg-light rounded-3">
      <div class="container-fluid" style="padding:0px;">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://derinmavi.io/images/n55.jpg" style="max-height:420px;" class="d-block w-100" alt="Yeraltından Notlar">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-5 fw-bold">Yeraltından Notlar</h1>
          <p>1864 yılında basılmış olan bu roman sanki bugün kaleme alınmış gibi. Dostoyevski'nin bu tuhaf ama güzel kitabı siz henüz cümlelerini okurken bir mesafe veriyor.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://derinmavi.io/images/yedinci-kita2.jpg" style="max-height:420px;" class="d-block w-100" alt="Bienal İzlenimeri">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-5 fw-bold">Bienal İzlenimeri</h1>
          <p>26 Ekim Cumartesi günü nihayet 16. İstanbul Bienali'ni görmek için Bienal'in mekanlarından biri olan Tophane'deki MSGSÜ İstanbul Resim ve Heykel Müzesine gittim. İstanbul Kültür Sanat Vakfı (İKSV) tarafından düzenlenen ve katılımın ücretsiz olduğu Bienale bu yıl 500000 ziyaretçi bekleniyor.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://derinmavi.io/images/n56.jpg" style="max-height:420px;" class="d-block w-100" alt="Başka Türden Bir Oyun">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-5 fw-bold">Başka Türden Bir Oyun</h1>
          <p>Oyunların tarihi insanlık kadar eski olduğunu söyleyebiliriz. Öte yandan bir sanat formu olarak dijital oyunlar sofistike bir tür. Programlama ile beraber görseller, yazılar, müzik ve seslendirme kolayca kendine yer bulabiliyor.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
          
          
          
          
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Bu Blogun Hikayesi</h2>
          <p>Derin Mavi'nin ismi Deep Blue'dan geliyor. Bugün bir müzede sergilenen Deep Blue, IBM tarafından geliştirilmiş satranç oynayan bir bilgisayardı. Rus satranç...</p>
            <button class="btn btn-outline-light" type="button">Devamını Oku</button>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Havadan Sudan</h2>
          <p>Pek çok düşünürün aforizmalara yönelmesine şaşmamalı. Kimi zaman daha şiirsel kısa sembolik satırlar pek çok şeyi özetleyebiliyor. Doğamız gereği netlik ve yalınlık arasak da kimi zaman hayata dair en sarsıcı gerçeklerin ifade etmek uçuk ve son derece kapalı anlatımdan geçiyor.</p>
          <a class="btn btn-outline-secondary" href="https://derinmavi.io/kisa-kisa">Devamını Oku</a>
        </div>
      </div>
    </div>
