<div class="row align-items-md-stretch py-4">
  <div class="col-md-7">

    <a>dddddddddddddddddddddddddddddddddddddddd</a>
    
  </div>
  
  
  
  
  <div class="col-md-5">

      <div class="p-3 mb-2 text-white bg-dark rounded-3">
          <h2>Bu Blogun Hikayesi</h2>
          <p>Derin Mavi'nin ismi Deep Blue'dan geliyor. Bugün bir müzede sergilenen Deep Blue, IBM tarafından geliştirilmiş satranç oynayan bir bilgisayardı. Rus satranç...</p>
            <button class="btn btn-outline-light" type="button">Devamını Oku</button>
        </div>
    
     <div class="p-3 bg-light border rounded-3">
          <h2>Havadan Sudan</h2>
          <p>Pek çok düşünürün aforizmalara yönelmesine şaşmamalı. Kimi zaman daha şiirsel kısa sembolik satırlar pek çok şeyi özetleyebiliyor.</p>
          <a class="btn btn-outline-secondary" href="https://derinmavi.io/kisa-kisa">Devamını Oku</a>
        </div>
  
  </div>
  
  
</div>
    

