---
layout: default
---
<div class="container py-4" style="max-width:1320px;">

  {%- include header2.html -%}
  <div class="row">
    <div class="col"><a>Önceki <<</a></div>
    
    
    <div class="col-6">
        
    <div class="mb-4 rounded-3">
      <div class="container-fluid bg-light py-4" style="border: 1px solid black;">
      
            <div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
          <strong class="d-block h6 my-2 pb-2 border-bottom">Kategori</strong>
          <nav id="TableOfContents">
  <ul>
    <li><a href="#basic-example">Sinema</a></li>
    <li><a href="#basic-example">Müzik</a></li>
    <li><a href="#active-items">Tespitler</a></li>
    <li><a href="#active-items">Felsefe</a></li>
    <li><a href="#active-items">Şiirsel</a></li>

  </ul>
</nav>
              
             <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item"><a class="page-link" href="#">6</a></li>
    <li class="page-item"><a class="page-link" href="#">7</a></li>
    <li class="page-item"><a class="page-link" href="#">8</a></li>
    <li class="page-item"><a class="page-link" href="#">9</a></li>
    <li class="page-item"><a class="page-link" href="#">10</a></li>

  </ul>
</nav>
              
              
              
              
        </div>
        
      </div>
      
    </div>
    
    
    </div>
    
    
    <div class="col"><a>>> Sonraki</a></div>

  
  
  </div>
  
  
  <div class="row">
  <div class="col-md-10">
  
  
  
  </div>
  <div class="col-md-2">
  
  
    

    
  </div></div>
  
  
  

  <div>{{ content }}</div>

    <footer class="pt-3 mt-4 text-muted border-top">
      © 2021
    </footer>
 
</div>
