---
layout: default
---
<div class="container py-4" style="max-width:1320px;">

  {%- include header2.html -%}
  <div class="row">
    <div class="col"><a href="https://derinmavi.io/kisa-kisa/" style="font-size: 13px !important; color: #212529;"><< Önceki</a> <a style="font-size: 13px !important; color: #212529;" href="https://derinmavi.io/kisa-kisa/">Index </a> </div>
    
    
    <div class="col-6">
        
      <div class="mb-4 rounded-3">
  
        <div class="container-fluid">
    
        <div class="bd-example" style="margin-right: 0;margin-left: 0;border: 0px;">
        <p style="font-size: 14px;">Kısa Kısa</p>
        <button type="button" class="btn btn-primary" style="margin: .25rem .125rem;font-size: 13px;">Sinema</button>
        <button type="button" class="btn btn-secondary" style="margin: .25rem .125rem;font-size: 13px;">Müzik</button>
        <button type="button" class="btn btn-success" style="margin: .25rem .125rem;font-size: 13px;">Tespitler</button>
        <button type="button" class="btn btn-danger" style="margin: .25rem .125rem;font-size: 13px;">Felsefe</button>
        <button type="button" class="btn btn-warning" style="margin: .25rem .125rem;font-size: 13px;">Şiirsel</button>
        <button type="button" class="btn btn-light" style="margin: .25rem .125rem;font-size: 13px;border: 1px solid black;">Light</button>
        </div>
          
        <div class="bd-example" style="margin-right: 0;margin-left: 0;border: 0px;">
        <button type="button" class="btn btn-light" style="margin: .25rem .125rem;font-size: 13px; border: 1px solid black;">1</button>
        <button type="button" class="btn btn-light" style="margin: .25rem .125rem;font-size: 13px; border: 1px solid black;">2</button>
        <button type="button" class="btn btn-light" style="margin: .25rem .125rem;font-size: 13px; border: 1px solid black;">3</button>
        <button type="button" class="btn btn-light" style="margin: .25rem .125rem;font-size: 13px; border: 1px solid black;">4</button>
        <button type="button" class="btn btn-light" style="margin: .25rem .125rem;font-size: 13px; border: 1px solid black;">5</button>
        <button type="button" class="btn btn-light" style="margin: .25rem .125rem;font-size: 13px; border: 1px solid black;">6</button>
        </div>
                 
                  <a href="#active-items">
                      
                     </a><nav aria-label="Page navigation example"><a href="#active-items">
          </a><ul class="pagination"><a href="#active-items">
            </a><li class="page-item"><a href="#active-items"></a><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item"><a class="page-link" href="#">8</a></li>
            <li class="page-item"><a class="page-link" href="#">9</a></li>
            <li class="page-item"><a class="page-link" href="#">10</a></li>
        
          </ul>
        </nav>
                      
                      
                      
                
              </div>
   

    </div>
      
    </div>
    
  
    
    <div class="col"><a  href="https://derinmavi.io/kisa-kisa/" style="font-size: 13px !important;float: right; color: #212529;">>> Sonraki</a></div>

  
  
  </div>
  
  
  <div class="row pt-3">
    <div class="col"></div>
    <div class="col-6 border-top"></div>
    <div class="col">
      <a  href="https://derinmavi.io/kisa-kisa/" style="font-size: 13px !important;float: right; color: #212529;">#1</a></br>
      <a  href="https://derinmavi.io/kisa-kisa/" style="font-size: 13px !important;float: right; color: #212529;">Müzik</a></br>
    
    
    </div>
  </div>
  
  <div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2"></div>
</div>
  
  
  

  <div>{{ content }}</div>

    <footer class="pt-3 mt-4 text-muted border-top">
      © 2021
    </footer>
 
</div>
