---
layout: default
---
<div class="container py-4" style="max-width:1320px;">

  {%- include header2.html -%}
  <div class="row">
    <div class="col"></div>
    
    
    <div class="col-6">
        
    <div class="p-4 mb-4 rounded-3">
      <div class="container-fluid bg-light py-4">
       <div style="font-size: 13px !important;"><p>#1 • Lorem ipsum dolor sit amet • #test • #test2</p></div>
        <p class="col-md-8 fs-4" style="font-size: 13px !important;">Kültür ürünlerinin bolluğu içerisinde boğulmanın işten bile olmadığı günümüze çoğu zaman tükettiğimizin bizi nereye götürdüğünden bile emin olamıyoruz.</p>
      </div>
      
    </div>
    
    
    </div>
    
    
    <div class="col">
    
    </div>

  
  
  </div>
  
  
  <div class="row">
  <div class="col-md-10">
  
  
  
  </div>
  <div class="col-md-2">
  
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#"><< Önceki</a></li>
    <li class="page-item"><a class="page-link" href="#">Sonraki >></a></li>
   </ul>
</nav>
  
    
    <div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
          <strong class="d-block h6 my-2 pb-2 border-bottom">Kategori</strong>
          <nav id="TableOfContents">
  <ul>
    <li><a href="#basic-example">Sinema</a></li>
    <li><a href="#basic-example">Müzik</a></li>
    <li><a href="#active-items">Tespitler</a></li>
    <li><a href="#active-items">Felsefe</a></li>
    <li><a href="#active-items">Şiirsel</a></li>

  </ul>
</nav>
        </div>
    
  </div></div>
  
  
  

  <div>{{ content }}</div>

    <footer class="pt-3 mt-4 text-muted border-top">
      © 2021
    </footer>
 
</div>
